<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Question</title>
    <link href="https://fonts.googleapis.com/css?family=Mali|Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div id="root">
        <h2>Hôm nay 20/10 đi ăn gì nhỉ ?</h2>
        <h2>Hihi</h2>
        <ol>
            <li>Lẩu</li>
            <li>Nướng</li>
            <li>Ốc</li>
            <li>Dimsum</li>
            <li>nem rán</li>
        </ol>
    </div>
    
</body>
</html>