<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/index.css">
    <title>New Bike</title>
</head>
<body>
    <form action="" method="POST">
        <div id = "root">
            <div id="choice_wrapper">
                 <h2>Model <br> <input type="text" name="model" placeholder="e.g.Honda"></h2>
                 <h2>Daily fee (VND) <br> <input type="text" name="fee" placeholder="100000"></h2>
                 <h2>Image <br>  <input type="text" name="image" placeholder="e.g.https://hondaxemay"></h2>
                 <h2>Year <br> <input type="text" name="year" placeholder="e.g.2013"></h2>
                 
            </div>
            <button>Submit</button>
        </div>
        
    </form>
</body>
</html>